/* Coolors Exported Palette - coolors.co/3c2858-635380-90708c-ace4aa-e1cdb5 */

/* HSL */
$color1: hsla(265%, 38%, 25%, 1);
$color2: hsla(261%, 21%, 41%, 1);
$color3: hsla(308%, 13%, 50%, 1);
$color4: hsla(118%, 52%, 78%, 1);
$color5: hsla(33%, 42%, 80%, 1);

/* RGB */
$color1: #3c2858;
$color2: rgba(99, 83, 128, 1);
$color3: rgba(144, 112, 140, 1);
$color4: rgba(172, 228, 170, 1);
$color5: rgba(225, 205, 181, 1);

$color3: #fcd9f8;
